.sessao-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 31.25rem;
}


.form-input {
    
    height: 1.875rem;
    width: 18.75rem;
    border-radius: 0.25rem;
    border: 0.125rem solid black;
    
}

.input-peso {
    margin-top: 1.5rem;
}

.form-input:hover {  
    border-color: #3db0f7;
}

.botao {
    margin-top: 1.5rem;
    height: 1.875rem;
    width: 18.75rem;
    border-radius: 0.25rem;
    border: 0.125rem solid black;
    color: rgb(255, 255, 255);
    
}
.botao:hover {
    transform: scale(1.1);
}

.botao-calcular {
    background-color: rgb(47, 47, 209);
}

.botao-limpar {
    background-color: orange;
}

.resultado {
    margin-top: 0.125rem;
    height: 1.875rem;
    width: 18.75rem;
    background-color: white;
    text-align: center;
    border-radius: 0,25rem;
    border: 0.125rem solid black;
}

.form-resultado {
    background-color: #3db0f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.resultadoimc {
    margin-top: 1rem;
    font-size: 1.125rem
}