.info {
    background-color: aliceblue;
    width: 31.25rem;
    border-radius: 0.25rem;
}


.info-titulo {
    font-family: 'Pacifico', cursive;
    color: #363636;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.25rem;

}

.info-texto {
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1.25rem;
    padding: 0,25rem;
}

